body{
    font-family: 'Satisfy';
}
.cont{
    background-color: darkgreen;
    width: 90%;
    margin: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex{
    border-radius: 20px;
    box-shadow: 5px 5px 8px aliceblue;
    width: 30%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    height: 100px;
    margin: 10px;
}
.satu{
    flex: 1;
}
.dua{
    flex: 4;
}